.login-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

/* body.login-body {
  background: url(/images/Scattered-Forcefields.svg);
} */

.login-view form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.loginOr {
  font-size: 2rem;
}

.login-view form label {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  width: 16rem;
}

.submit-button {
  font-weight: bold;
  margin-top: 1rem;
  height: 2.5rem;
  width: 8rem;
  background: #3787ff;
  color: white;
  border: none;
  border-radius: 50rem;
  font-size: 1rem;
}
