/* @font-face {
  font-family: Source_Sans_Pro;
  src: url(/assets/fonts/Source_sans_pro/SourceSansPro-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Source_Sans_Pro;
  src: url(/assets/fonts/Source_sans_pro/SourceSansPro-SemiBold.ttf);
  font-weight: semi-bold;
} */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-appearance: none;
}

body {
  margin: 4rem 0 0 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  /*🏞🔥 Background by SVGBackgrounds.com 🔥🏞 */
  background: url(/images/Alternating-Arrowhead.svg);
  background-attachment: fixed;
  box-sizing: border-box;
  color: var(--color-text-main);
  background-size: 22rem;
}

*:focus {
  outline: none;
}

:root {
  font-size: 10px;
  --color-text-main: rgb(48, 48, 48);
  --color-standard-blue: rgb(57 149 234);
  --color-standard-red: rgba(255, 0, 0, 0.781);
  --backdrop-blur: 8px;
  --post-background-color: rgba(255, 255, 255, 0.747);
  --box-shadow: 0px 0px 43px -12px rgba(184, 184, 184, 0.75);
}

.hidden {
  visibility: hidden;
  position: absolute;
}

.press-bounce {
  transition: 0.25s;
}

.press-bounce:active {
  transform: scale(0.8);
}

.press-bounce:hover {
  cursor: pointer;
}

.pressed {
  transform: scale(0.8);
}

.input-field {
  font-size: 1rem;
  background: rgb(255 255 255 / 0.382);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(var(--backdrop-blur));
  -webkit-backdrop-filter: blur(var(--backdrop-blur));
  border: none;
  border-radius: 0.6rem;
  outline: none;
  height: 3rem;
  width: 16rem;
  padding-left: 0.5rem;
  font-weight: normal;
}

@media (min-width: 370px) {
  :root {
    font-size: 16px;
  }
}
