/* Hamburger */
.hamburger {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
}


.hamburgerHamburger {
  background: url(../images/radix-icons_hamburger-menu.svg);
  
}

.hamburgerCross {
  background: url(../images/hamburgerCross.svg);
}

.hamburger-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2100;
  border: none;
}

.hamburger-menu {
  overflow: hidden;
  position: absolute;
  background: #26262600;
  border-radius: 50%;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    (0.075, 0.82, 0.165, 1);
  z-index: 20;
}

.hamburger_expanded {
  position: absolute;
  background: rgba(255, 0, 0, 0.781);
  backdrop-filter: blur(var(--backdrop-blur));
  -webkit-backdrop-filter: blur(var(--backdrop-blur));
  height: 100%;
  width: 100%;
  border-radius: 0px;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    (0.075, 0.82, 0.165, 1);
  top: 0;
  right: 0;
}

.hamburger_text_container h1 {
  color: black;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 27px;
  margin-left: 37px;
  margin-top: 3rem;
  width: fit-content;
}

a {
  color: black;
  text-decoration: none;
}

.hamburger_text_container p {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  margin-left: 37px;
}

.hamburger_text_container {
  margin-top: 10rem;
  width: 100vw;
}

/* Logo */
.logo {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 7rem;
}

.sort-by {
  font-size: 0.85rem;
  position: relative;
  width: fit-content;
  background: rgb(57 149 234);
  font-weight: bold;
  border-radius: 1rem;
  color: white;
  text-align: center;
  outline: none;
  border: none;
  padding: 0.2rem 0.4rem;
  box-shadow: 0px 0px 51px -17px rgba(0, 133, 255, 1);
}

.content-container {
  display: flex;
  justify-content: space-between;
  max-width: 26rem;
  width: 100%;
  margin: 0 1rem;
  width: calc(100% - 2rem);
}

.content-container button {
  height: 2rem;
  background: var(--color-standard-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgb(255 132 0);
}

.page-headline {
  text-align: start;
  font-size: 3rem;
}

@media (min-width: 1100px) {
  .hamburger-menu {
    padding-right: 1rem;
    right: 0;
    top: 0px;
    width: fit-content;
    height: fit-content;
    border-radius: 0px;
    position: fixed;
    border-radius: 10rem 0 0 10rem;
    backdrop-filter: blur(var(--backdrop-blur));
    -webkit-backdrop-filter: blur(var(--backdrop-blur));
    box-shadow: var(--box-shadow);
  }

  .hamburger-menu.hamburger .hamburger_text_container {
    width: fit-content;
    height: 4rem;
    overflow: initial;
    margin-top: 0px;
    display: flex;
    flex-direction: row-reverse;
  }

  .hamburger-menu.hamburger .hamburger_text_container * {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger_text_container h1.most-right-nav {
    margin-right: 1.66rem;
  }

  .hamburger_text_container h1 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 27px;
    margin-left: 1.66rem;
    margin-top: 0;
    width: unset;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.44, 0.06, 0.41, 1.25);
  }

  .hamburger_text_container h1:hover {
    color: var(--color-standard-red);
    text-shadow: 0px 0px 12px var(--color-standard-red);
  }
  /* .hamburger_text_container h1.red-shadow:hover {
    color: var(--color-standard-red);
    text-shadow: 0px 0px 12px var(--color-standard-red);
  } */

  .logo {
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    width: 8rem;
  }

  .hamburger-icon.hamburger.center-contain {
    display: none;
  }
}
