@keyframes enter {
    from {opacity: 1;}
    to{opacity: 0;}
}

.smooth-enter {
animation: enter .4s both;
}

.smooth-exit {
    animation: enter .4s both reverse;
    }

.smooth-enter-cover {
    z-index: 1000;
    background: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
}